name: Release

# setup the workflow trigger(s) according to your needs
# see: https://docs.github.com/en/actions/using-workflows/triggering-a-workflow
on:
  # push:
  #  branches: ["main", "alpha", "beta", "next", "next-major"]
  # manual
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          scope: "@digitalservicebund"
      - run: npm ci --ignore-scripts
      - run: npm run build
      - run: npm test
      - name: Release
        run: cd dist && npx --package semantic-release@beta semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
